################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EDW/SSIS/EDW/.vs/EDW/v15
/EDW/SSIS/EDW/bin/Development
/ETL/SSIS/eProveDataMart/obj/Development/Load.CD.dtsx
/ETL/SSIS/eProveDataMart/obj/Development/Load.CH.dtsx
/ETL/SSIS/eProveDataMart/obj/Development
/ETL/SSIS/eProveDataMart/bin/Development
/ETL/SSIS/eProveDataMart/eProveDataMart.dtproj.user
/ETL/SSIS/EDW/.vs/EDW/v15/.suo
*.user
*.suo
*.dbmdl
*.ispac
*.cache
*.jfm
#*.params
/ETL/EDW/obj/Development
/ETL/Replace-InFiles-WithLookup.ps1
/ETL/LookupFile.csv
/DB/LargeScale/Maryland/Import Schema Logs
/DB/LargeScale/Maryland/bin/Debug
/DB/LargeScale/Maryland/obj/Debug
/DB/ODS/bin/Debug
/DB/ODS/obj/Debug
/DB/LargeScale/Maryland/Maryland.jfm
/DB/ODS/ODS.jfm
/DB/LargeScale/Oklahoma/Oklahoma/bin/Debug
/DB/LargeScale/Oklahoma/Oklahoma/obj/Debug
DB/ODS/bin/Debug/ODS.dacpac
ETL/EDW/LargeScale/Project.params
DB/ODS/bin/Debug/ODS.dacpac
ETL/EDW/LargeScale/Project.params
/DB/ETLConfig/bin/Debug
/ETL/LargeScale/Oklahoma/FileImport/obj/Development
/ETL/EDW/LargeScale/obj/Development
/ETL/SurveysDW/SurveysDW/obj/Development
